{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FoxCompanY</title>
    <link rel="icon" href="{% static 'main/img/logo_FoxCompany.png' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/Main_Css_Main_site.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body id="begin">
    <header class="header">
        <div class="nav">
            <div class="container">
                <div class="row">

                    <div class=" col col-lg-5 logo">
                        <div class="logo_foto">
                            <img src="{% static 'main/img/logo_FoxCompany.png' %}" alt="logo" class="logo_img">
                            <h1 class="logo_txt">FoxCompanY</h1>
                        </div>
                        <div class="menu-burger__header">
                            <span></span>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <ul class="men">
                            <li class="list active"> <a href="#begin">Начало</a> </li>
                            <li class="list"> <a href="#portfolio">Портфолио</a> </li>
                            <li class="list"> <a href="#about_us">О нас</a> </li>
                            <!-- <li class="list"> <a href="#services">Услуги</a> </li> -->
                            <li class="list"> <a href="#footer">Контакты</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="ofer">
                        <div class="txt_ofer">
                            <h1>Доброго времени<br>суток.</h1>
                            <p class="txt_txt">Мы — FoxCompanY, лучшие WEB/UI/UX<br>дизайнеры в этом лесу!</p>
                            <a href="#footer" class="btn">Заказать сайт</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="mediaa"></div>
                </div>
            </div>
        </div>
    </header>


    <section id="portfolio">
        <div class="container">
            <div class="row">
                <h2>Портфолио</h2>
            </div>
            <div class="row">
                <div class="portfolio">
                    <div class="websiteeblock">
                        <h3>Примеры работ</h3>
                        <div class="owl-carousel owl-theme owl_block">
                            <div class="item owl_item">
                                <a href="Birdbuy" class="bird"><img src="{% static 'main/img/bird.png' %}" alt="Bird site"></a>
                                <p class="txt_owl">Интернет магазин</p>
                            </div>
                            <div class="item owl_item">
                                <a href="Skit" class="skit"><img src="{% static 'main/img/skit.png' %}" alt="Skit site"></a>
                                <p class="txt_owl">Сайт визитка</p>
                            </div>
                        </div>
                    </div>
                    <div class="websiteeblock">
                        <h3>Принимали участие в разработке</h3>
                        <div class="owl-carousel owl-theme owl_block">
                            <div class="item owl_item">
                                <a href="https://deti.benefest.ru" class="bene"><img src="{% static 'main/img/bene.png' %}" alt="DPR"></a>
                                <p class="txt_owl">Сайт проекта<br>Детская Поющая Республика</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="websiteeblock">
                        <h3>Готовые проекты</h3>
                        <div class="owl-carousel owl-theme">
                            <div class="item"><h4>1</h4></div>
                            <div class="item"><h4>2</h4></div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    <section id="about_us">
        <div class="container">
            <div class="row">
                <h2>О нас</h2>
            </div>
            <div class="row">
                <div class="col">
                    <div class="person">
                        <img src="{% static 'main/img/Stoned_Fox.jpg' %}" alt="Stoned_Fox" class="person_img">
                        <div class="txt_person">
                            <p class="txt_standart bold">Константин Потраев</p>
                            <p class="txt_standart">Backend разработчик, Python программист.</p>
                        </div>
                    </div>
                    <div class="person">
                        <img src="{% static 'main/img/pesec.jpg' %}" alt="Psesec" class="person_img">
                        <div class="txt_person">
                            <p class="txt_standart bold">Тимофей Драконов</p>
                            <p class="txt_standart">Frontend и веб-разработчик.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section id="services">
        <div class="container">
            <div class="row">
                <h2>Услуги</h2>
            </div>
            <div class="row">
                <div class="services">
                    <p>qe</p>
                </div>
            </div>
        </div>
    </section> -->



    <footer id="footer" class="footer">
		<div class="container">
			<div class="row">

				<div class="col-4 col-md-4 col-lg-4">
                    <div>
                        <a class="footer_btn" href="#about_us">о нас</a>
                        <!-- <a class="footer_btn" href="#">блог</a>
                        <a class="footer_btn" href="#">новости</a> -->
                        <a class="footer_btn" href="#portfolio">портфолио</a>
                        <!-- <a class="footer_btn" href="#">политика конфиденциальности</a> -->
                    </div>
                </div>

				<div class="offset-1 col-1 offset-md-1 col-md-1 offset-lg-1 col-lg-1 arrow_block">
					<a class="arrow" href="#begin"><img src="{% static 'main/img/app_w.png' %}"></a>
				</div>

				<div class="offset-3 col-3 offset-md-3 col-md-3 offset-lg-3 col-lg-3">
					<!-- <div class="locate">
						<img src="{% static 'main/img/locate.png' %}">
						<p class="locate_tele">г. Ростов-на-Дону,
						Ростовская область</p>
					</div> -->
					<div class="mail">
						<img src="{% static 'main/img/mail.png' %}">
						<p>tim.drakonov@yandex.ru</p>
					</div>
					<div class="contact">
						<!-- <a class="contact_img" href=""><img src="{% static 'main/img/inst.png' %}"></a> -->
						<!-- <a class="contact_img" href="#"><img src="{% static 'main/img/whats.png' %}"></a> -->
						<a class="contact_img" href="https://vk.com/drakot1"><img src="{% static 'main/img/vk.png' %}"></a>
					</div>
				</div>

<script src="{% static 'main/scripts/bootstrap.min.js' %}"></script>
<script src="{% static 'main/scripts/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'main/scripts/owl.carousel.min.js' %}"></script>
<script src="{% static 'main/scripts/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'main/scripts/main.js' %}"></script>
</body>
</html>
